<?xml version="1.0"?>
<!--
/**
 * @copyright Copyright (c) creditkey.com, Inc. (http://www.creditkey.com)
 */
-->
<config>
    <modules>
        <Creditkey_B2bgateway>
            <version>1.0.0</version>
        </Creditkey_B2bgateway>
    </modules>
    <global>
        <models>
            <b2bgateway>
                <class>Creditkey_B2bgateway_Model</class>
            </b2bgateway>
        </models>
        <helpers>
            <b2bgateway>
                <class>Creditkey_B2bgateway_Helper</class>
            </b2bgateway>
        </helpers>
        <blocks>
            <b2bgateway>
                <class>Creditkey_B2bgateway_Block</class>
            </b2bgateway>
        </blocks>
        <resources>
            <b2bgateway_setup>
                <setup>
                    <module>Creditkey_B2bgateway</module>
                </setup>
            </b2bgateway_setup>
        </resources>
        <events>
            <sales_order_save_after>
                <observers>
                    <creditkey_b2bgateway_udpate_order_status>
                        <type>singleton</type>
                        <class>b2bgateway/observer</class>
                        <method>updateOrderStatus</method>
                    </creditkey_b2bgateway_udpate_order_status>
                </observers>
            </sales_order_save_after>
        </events>
    </global>
    <default>
        <payment>
            <b2bgateway>
                <model>b2bgateway/payment_creditkey</model>
                <active>1</active>
                <order_status>pending</order_status>
                <title>Credit Key</title>
                <payment_action>authorize</payment_action>
                <allowspecific>0</allowspecific>
                <sort_order>1</sort_order>
                <endpoint>https://staging.creditkey.com/app</endpoint>
                <publickey>creditkeymagentosandbox_4a90305738c445859b2647e378287346</publickey>
                <secretkey>47c30ed443f74d0485a10c55f183692b</secretkey>
                <display_type>text</display_type>
                <display_size>small</display_size>
            </b2bgateway>
            <marketing_product>
                <active>1</active>
                <price_range>0</price_range>
                <display_type>text</display_type>
                <display_size>small</display_size>
            </marketing_product>
        </payment>
    </default>
    <frontend>
        <routers>
            <b2bgateway>
                <use>standard</use>
                <args>
                    <module>Creditkey_B2bgateway</module>
                    <frontName>b2bgateway</frontName>
                </args>
            </b2bgateway>
        </routers>
        <layout>
            <updates>
                <b2bgateway>
                    <file>creditkey/marketing.xml</file>
                </b2bgateway>
            </updates>
        </layout>
    </frontend>
</config>
